/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 html, body {
margin: 0;
padding: 0;
background: White;
color: DarkSlateGrey;
font-family: Tahoma, Verdana, sans-serif;
font-size: 10pt;
}
div#main {
margin: 0;
padding: 0 20px 20px;
}
a {
background: transparent;
color: maroon;
text-decoration: underline;
font-weight: bold;
}
h1 {
color: maroon;
font-size: 150%;
font-style: italic;
display: block;
width: 100%;
border-bottom: 1px solid DarkSlateGrey;
margin-left: 20px;
}
h1.title {
margin: 0 0 1em;
padding: 10px;
background-color: orange;
color: white;
border-bottom: 4px solid gold;
font-size: 2em;
font-style: normal;
}
table#movies {
margin: 10px;
border-collapse: collapse;
width: 100%;
border-bottom: 2px solid black;

}
table#movies th {
border: 2px solid white;
font-weight: bold;
background-color: wheat;
}
table#movies th, table#movies td {
padding: 4px;
text-align: left;
}
#notice, #warning {
background: rosybrown;
margin: 1em 0;
padding: 4px;
}
form label {
display: block;
line-height: 25px;
font-weight: bold;
color: maroon;
}
table#movies th.hilite{
 background-color: lightsalmon;
 
}

/* ADDITIONS */

form, h2, h3, p, ul, #btn_add_new_movie, #back_link, #edit_link {
    margin-left: 20px;
}

.margin-left {
    margin-left: 50px;
}

#ratings_submit {
    background-color: lightsalmon;
    color: white;
    border: none;
    height: 30px;
    border-radius: 15%;
}

#ratings_submit:hover {
    background-color: salmon;
    cursor: pointer;
}

#btn_delete{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(219, 33, 12);
    color: white;
    border: none;
    border-radius: 15%;
    cursor: pointer;
    padding: 5px;
}

#btn_save {
    background-color: rgb(218, 107, 17);
    border: none;
    border-radius: 10%;
    padding: 5px;
    cursor: pointer;
    color: white;
}